/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body {
  font-family: 'ARS Maquette','Helvetica Neue',sans-serif;
}

a {
  font-size: 13px;
  color: #A6A6A6;
  display: inline-block;
  line-height: 14px;
  height: 48px;
  padding: 18px 8px 0 8px;
  text-align: center;
  font-family: 'Shentox Medium',sans-serif;
  font-weight: 500;
  letter-spacing: .02em;
}

/*Navbar*/

nav {
  position: relative;
  height: 50px;
  box-shadow: 0px 5px 10px #BEBEBE;
}

.logo {
  float: left;
  margin-right: 8px;
}

.section {
  float: left;
}

.reduced-section {
  float: left;
  display: none;
}

.reduced-section a {
  color: #A6A6A6;
  display: inline-block;
  line-height: 14px;
  height: 48px;
  padding: 18px 12px 0 12px;
  text-align: center;
  font-family: 'Shentox Medium',sans-serif;
  font-weight: 900;
  letter-spacing: .15em;
}

.social {
  float: right;
  margin-right: 15px;
}

.social img {
  margin: 15px 10px;
}

/*Header Section*/

header {
  position: relative;
  margin: 15px 15px;
}

.big {
  box-sizing: border-box;
  position: relative;
  height: 415px;
  margin-right: 305px;
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("images/twitter-ceo.jpg");
  background-repeat: no-repeat;
  background-position: center; 
}

.big p {
  position: absolute;
  bottom: 20px;
  left: 10px;
  right: 10px;
  color: #fff;
  font-weight: 900;
  font-size: 45px;
}

.small {
  box-sizing: border-box;
  position: relative;
  float: right;
  height: 200px;
  width: 290px;
  margin-left: 15px;
  margin-bottom: 15px;
  clear:right;
}

.small p {
  position: absolute;
  bottom: 20px;
  left: 10px;
  right: 10px;
  color: #fff;
  font-weight: 900;
  font-size: 25px;
}

.twitter {
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("images/twitter.jpg");
  background-repeat: no-repeat;
  background-position: center; 
  background-size: 400px;
}

.rift {
  background-image: url("images/rift.jpg");
  background-repeat: no-repeat;
  background-position: center; 
  background-size: 400px;
}

.announcement {
  position: relative;
  background-color: #ffd300;
  padding: 17px;
  text-align: center;
}

.announcement div {
  display: inline-block;
  overflow: hidden;
}

.announcement h1 {
  font-size: 16px;
  font-weight: 900;
}

.announcement p {
  font-size: 16px;
  font-weight: 200;
}

.red {
  color: red;
}

/*Main Section*/

main {
  position: relative;
  margin: 15px 55px 0px 55px;
}

.main2 {
  position: relative;
  margin: 15px 55px 0px 55px;
}

main h1, .main2 h1 {
  color: #ff4020;
  text-decoration: none;
  font-size: 2.5em;
  margin: 20px 0px;
  font-weight: 900;
}

.news {
  position: relative;
  margin-bottom: 25px;
}

.more {
  position: relative;
  margin-bottom: 25px;
}

.trigger {
  position: relative;
  float: left;
  box-sizing: border-box;
  border: 5px solid #fff;
  width: 16.666666%;
  height: 200px;
}

.trigger a {
  padding: 10px 0px;
  text-align: left;
  color: #000;
  font-size: 15px;
  font-weight: 900;
  text-decoration: none;
  line-height: 18px;
}

.trigger p {
  font-size: 13px;
  color: #959595;
  display: inline-block;
  line-height: 14px;
  height: 48px;
  font-family: 'Shentox Medium',sans-serif;
}

.more .trigger {
  width: 25%;
  height: 300px;
  background-color: #F1F1F1;
  padding: 10px;
}

.clear {
  clear: both;
}

/*Footer Section*/

footer {
  position: relative;
  height: 350px;
  padding: 40px;
  background-color: #000;
}

footer div {
  position: relative;
  float: left;
  clear: both;
}

.right {
  float: right;
  clear: none;
  margin-top: -40px;
}

footer div img {
  margin-top: -20px;
}

footer div a {
  padding: 60px 4px 0px 4px;
}

.gray-icon {
  clear: none;
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 4px;
  background-color: #4B4B4B;
  border-radius: 50%;
}

footer div p {
  padding-top: 20px;
  color: #fff;
  font-family: 'ARS Maquette','Helvetica Neue',sans-serif;
  font-size: 15px;
  font-style: italic;
}

.border {
  border-bottom: 1px solid #646464;
  margin: 50px 0px;
  width: 100%;
}

.copyright {
  font-size: 12px;
  font-style: normal;
  color: #646464;
}

/*Responsive Styles!*/

@media screen and (max-width: 1130px) {
    .section {
      display: none;
    }
    .reduced-section {
      display: block;
    }

    .news .trigger {
      width: 20%;
    }
    .news .trigger:nth-child(11) {
      display: none;
    }
    .news .trigger:nth-child(12) {
      display: none;
    }

    .more .trigger {
      width: 33.333333%;
    }
    .more .trigger:nth-child(4) {
      width: 33.333333%;
      display: none;
    }
}

@media screen and (max-width: 900px) {
    .big, .small {
      height: 165px;
      width: 100%;
      display: block;
      float: none;
      margin: 10px 0px;
    }
    .big p {
      font-size: 25px;
    }
    .small {
      background-size: 900px;
    }


    .news .trigger {
      width: 25%;
    }
    .news .trigger:nth-child(11) {
      display: block;
    }
    .news .trigger:nth-child(12) {
      display: block;
    }
}

@media screen and (max-width: 700px) {
    .news .trigger {
      width: 33.333333333%;
    }
    .more .trigger {
      width: 100%;
      float: none;
      height: 100px;
    }

    .main2 {
      margin: 15px 0px 0px 0px;
    }
    .main2 h1 {
      padding-left: 20px;
    }
    .more .trigger:nth-child(4) {
      width: 100%;
      display: block;
    }
    .more .trigger:nth-child(2) {
      height: 400px;
    }
    .more .trigger {
      padding: 0px !important;
    }
    .smaller img {
      width:auto !important;
      height:100% !important;
      float: left;
      margin-right: 10px;
    }
    .smaller a {
      display: block;
    }
    .more p {
      display: none;
    }


    footer {
      padding: 20px;
      height: 600px;
    }
    footer div {
      float: none;
      display: block;
    }
    .right {
      float: none;
      display: block;
    }
    footer div img {
      display: block;
      margin: 50px auto;
    }
    footer div img:first-child {
      margin-top: 0px;
      margin-bottom: -10px;
    }
    .right img {
      padding-top: 100px;
    }
    footer div p {
      text-align: center;
    }
    footer div a, footer div p {
      margin: 0px;
    }
    .needs-centering {
      width: 470px;
      margin: 0px auto;
    }

}

@media screen and (max-width: 600px) {
    .news .trigger {
      width: 50%;
    }
}